In [1]:
import pandas as pd
import numpy as np
import math
import sys
df = pd.read_csv('topsis1.csv')
df.head(20)

   Alternatives  Accuracy  category   size  noise
0           SA1     80.48         2   1000      1
1           SA2     98.39         2   5500      2
2           SA3     87.00         2   1050      2
3           SA4     65.97         5   8910      2
4           SA5     88.81         3   1020      4
5           SA7     93.00         2   1300      5
6           PA8     95.00         3   2979      5
7          PA10     90.00         6   7500      1
8           PA2     76.95         3   1000      4
9           PA3     73.49         3   1601      5
10          PA4     99.87         2    850      2
11          PA5     92.00         3   5200      2
12          PA9     84.00         2   2000      1
13          PA7     71.23         2   6368      2
14         SA10     72.00         2   2000      1
15         SA11     79.06         2  10000      1
16         SA12     71.00         3  17852      2
17         SA13     75.50         2  15000      2
18         SA14     78.00         3   9337      2
19          SA9     65.40         3   3505      4

In [2]:
w = [0.059246, 0.4828, 0.31385, 0.1441]

In [4]:
data=df.drop(columns=["Alternatives"])
data

    Accuracy  category   size  noise
0      80.48         2   1000      1
1      98.39         2   5500      2
2      87.00         2   1050      2
3      65.97         5   8910      2
4      88.81         3   1020      4
5      93.00         2   1300      5
6      95.00         3   2979      5
7      90.00         6   7500      1
8      76.95         3   1000      4
9      73.49         3   1601      5
10     99.87         2    850      2
11     92.00         3   5200      2
12     84.00         2   2000      1
13     71.23         2   6368      2
14     72.00         2   2000      1
15     79.06         2  10000      1
16     71.00         3  17852      2
17     75.50         2  15000      2
18     78.00         3   9337      2
19     65.40         3   3505      4

In [5]:
X_norm = data/np.sqrt(np.power(data,2).sum(axis=0))
X_norm

    Accuracy  category      size     noise
0   0.218099  0.152057  0.031581  0.078087
1   0.266634  0.152057  0.173697  0.156174
2   0.235768  0.152057  0.033160  0.156174
3   0.178777  0.380143  0.281389  0.156174
4   0.240673  0.228086  0.032213  0.312348
5   0.252027  0.152057  0.041056  0.390434
6   0.257447  0.228086  0.094081  0.390434
7   0.243897  0.456172  0.236859  0.078087
8   0.208532  0.228086  0.031581  0.312348
9   0.199156  0.228086  0.050562  0.390434
10  0.270645  0.152057  0.026844  0.156174
11  0.249317  0.228086  0.164223  0.156174
12  0.227638  0.152057  0.063163  0.078087
13  0.193031  0.152057  0.201109  0.156174
14  0.195118  0.152057  0.063163  0.078087
15  0.214250  0.152057  0.315813  0.078087
16  0.192408  0.228086  0.563789  0.156174
17  0.204603  0.152057  0.473719  0.156174
18  0.211378  0.228086  0.294874  0.156174
19  0.177232  0.228086  0.110692  0.312348

In [6]:
X_norm_w = X_norm*w
X_norm_w

    Accuracy  category      size     noise
0   0.012921  0.073413  0.009912  0.011252
1   0.015797  0.073413  0.054515  0.022505
2   0.013968  0.073413  0.010407  0.022505
3   0.010592  0.183533  0.088314  0.022505
4   0.014259  0.110120  0.010110  0.045009
5   0.014932  0.073413  0.012885  0.056262
6   0.015253  0.110120  0.029527  0.056262
7   0.014450  0.220240  0.074338  0.011252
8   0.012355  0.110120  0.009912  0.045009
9   0.011799  0.110120  0.015869  0.056262
10  0.016035  0.073413  0.008425  0.022505
11  0.014771  0.110120  0.051541  0.022505
12  0.013487  0.073413  0.019824  0.011252
13  0.011436  0.073413  0.063118  0.022505
14  0.011560  0.073413  0.019824  0.011252
15  0.012693  0.073413  0.099118  0.011252
16  0.011399  0.110120  0.176945  0.022505
17  0.012122  0.073413  0.148677  0.022505
18  0.012523  0.110120  0.092546  0.022505
19  0.010500  0.110120  0.034741  0.045009

In [7]:
X_norm_w.min()

Accuracy    0.010500
category    0.073413
size        0.008425
noise       0.011252
dtype: float64

In [8]:
X_norm_w.max()

Accuracy    0.016035
category    0.220240
size        0.176945
noise       0.056262
dtype: float64

In [9]:
aaa = [X_norm_w.max()[0],X_norm_w.max()[1],X_norm_w.max()[2],X_norm_w.min()[3] ]
aaa

[0.016034625106601485,
 0.2202396256734083,
 0.1769450562352058,
 0.011252319544074067]

In [10]:
bb = [X_norm_w.min()[0],X_norm_w.min()[1],X_norm_w.min()[2],X_norm_w.max()[3] ]
bb

[0.010500295203481898,
 0.07341320855780277,
 0.008425011079986831,
 0.05626159772037034]

In [11]:
positive_ideal = aaa
negative_ideal = bb

In [12]:
#positive_ideal
SM_P = np.sqrt(np.power(X_norm_w-positive_ideal,2).sum(axis=1))
#negative_ideal
SM_N = np.sqrt(np.power(X_norm_w-negative_ideal,2).sum(axis=1))

In [13]:
SM_P

0     0.222414
1     0.191504
2     0.222314
3     0.096742
4     0.202739
5     0.224723
6     0.189433
7     0.102619
8     0.202927
9     0.200289
10    0.223794
11    0.167274
12    0.215062
13    0.186178
14    0.215093
15    0.166211
16    0.110790
17    0.149997
18    0.139242
19    0.183081
dtype: float64

In [14]:
SM_N

0     0.045099
1     0.057375
2     0.033992
3     0.140172
4     0.038613
5     0.006287
6     0.042606
7     0.167165
8     0.038466
9     0.037476
10    0.034208
11    0.066062
12    0.046526
13    0.064279
14    0.046442
15    0.101271
16    0.175746
17    0.144266
18    0.097813
19    0.046546
dtype: float64

In [15]:
Per_score = SM_N/(SM_P+SM_N)
Per_score

0     0.168586
1     0.230533
2     0.132624
3     0.591657
4     0.159986
5     0.027217
6     0.183615
7     0.619625
8     0.159350
9     0.157619
10    0.132587
11    0.283118
12    0.177860
13    0.256646
14    0.177575
15    0.378608
16    0.613347
17    0.490263
18    0.412616
19    0.202702
dtype: float64